/**top**/
.topwarp {
  margin-top: 5px;
}

.menuIco {
  font-size: 30px !important;
  width: 40px;
  height: 40px;
  float: left;
}

.downmenu,
.persondownmenu {
  position: fixed;
  z-index: 2000;
  top: 44px;
  height: 0px;
  background-color: #ff881e;
  width: 100%;
  overflow: hidden;
  left: 0;
}
.persondownmenu li{margin-left: 10%; transform: translate(100%);
  opacity: 0;}

.persondownmenu li:nth-of-type(1) {
  -webkit-transform: scale(1.5) translate(3rem, -2rem);
  transform: scale(1.5) translate(3rem, -2rem);
}

.persondownmenu li:nth-of-type(2) {
  -webkit-transform: scale(1.55) translate(3.5rem, -2.3rem);
  transform: scale(1.55) translate(3.5rem, -2.3rem);
}

.persondownmenu li:nth-of-type(3) {
  -webkit-transform: scale(1.6) translate(4rem, -2.6rem);

  transform: scale(1.6) translate(4rem, -2.6rem);
}

.persondownmenu li:nth-of-type(4) {
  -webkit-transform: scale(1.65) translate(4.5rem, -2.9rem);

  transform: scale(1.65) translate(4.5rem, -2.9rem);
}

.persondownmenu li:nth-of-type(5) {
  -webkit-transform: scale(1.7) translate(5rem, -3.2rem);

  transform: scale(1.7) translate(5rem, -3.2rem);
}

.persondownmenu li:nth-of-type(6) {
  -webkit-transform: scale(1.75) translate(5.5rem, -3.5rem);

  transform: scale(1.75) translate(5.5rem, -3.5rem);
}

.persondownmenu li:nth-of-type(7) {
  -webkit-transform: scale(1.8) translate(6rem, -3.8rem);

  transform: scale(1.8) translate(6rem, -3.8rem);
}

.persondownmenu li:nth-of-type(8) {
  -webkit-transform: scale(1.85) translate(6.5rem, -4.1rem);

  transform: scale(1.85) translate(6.5rem, -4.1rem);
}

.persondownmenu li:nth-of-type(9) {
  -webkit-transform: scale(1.9) translate(7rem, -4.4rem);

  transform: scale(1.9) translate(7rem, -4.4rem);
}

.persondownmenu li:nth-of-type(10) {
  -webkit-transform: scale(1.95) translate(7.5rem, -4.7rem);

  transform: scale(1.95) translate(7.5rem, -4.7rem);
}

.persondownmenu li:nth-of-type(11) {
  -webkit-transform: scale(2) translate(8rem, -5rem);

  transform: scale(2) translate(8rem, -5rem);
}

.persondownmenu li:nth-of-type(12) {
  -webkit-transform: scale(2.05) translate(8.5rem, -5.3rem);

  transform: scale(2.05) translate(8.5rem, -5.3rem);
}

.persondownmenucurr li:nth-of-type(1) {
  -webkit-transition: 0.5s 0s;
  transition: 0.5s 0s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(2) {
  -webkit-transition: 0.5s 0.1s;
  transition: 0.5s 0.1s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(3) {
  -webkit-transition: 0.5s 0.12s;
  transition: 0.5s 0.12s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(4) {
  -webkit-transition: 0.5s 0.15s;

  transition: 0.5s 0.15s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(5) {
  -webkit-transition: 0.5s 0.19s;
  transition: 0.5s 0.19s;
  opacity: 1;
  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(6) {
  -webkit-transition: 0.5s 0.25s;

  transition: 0.5s 0.25s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(7) {
  -webkit-transition: 0.5s 0.32s;

  transition: 0.5s 0.32s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(8) {
  -webkit-transition: 0.5s 0.4s;
  transition: 0.5s 0.4s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(9) {
  -webkit-transition: 0.5s 0.49s;

  transition: 0.5s 0.49s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(10) {
  -webkit-transition: 0.5s 0.59s;

  transition: 0.5s 0.59s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(11) {
  -webkit-transition: 0.5s 0.7s;

  transition: 0.5s 0.7s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.persondownmenucurr li:nth-of-type(12) {
  -webkit-transition: 0.5s 0.82s;

  transition: 0.5s 0.82s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

}

.downmenu li:first-child,
.persondownmenu li:first-child {
  margin-top: 30px;
}


.downmenu li {
  margin-left: 10%;
  transform: translate(100%);
  opacity: 0;
}

.downmenu li:nth-of-type(1) {
  -webkit-transform: scale(1.5) translate(3rem, -2rem);
  transform: scale(1.5) translate(3rem, -2rem);
}

.downmenu li:nth-of-type(2) {
  -webkit-transform: scale(1.55) translate(3.5rem, -2.3rem);

  transform: scale(1.55) translate(3.5rem, -2.3rem);
}

.downmenu li:nth-of-type(3) {
  -webkit-transform: scale(1.6) translate(4rem, -2.6rem);

  transform: scale(1.6) translate(4rem, -2.6rem);
}

.downmenu li:nth-of-type(4) {
  -webkit-transform: scale(1.65) translate(4.5rem, -2.9rem);

  transform: scale(1.65) translate(4.5rem, -2.9rem);
}

.downmenu li:nth-of-type(5) {
  -webkit-transform: scale(1.7) translate(5rem, -3.2rem);

  transform: scale(1.7) translate(5rem, -3.2rem);
}

.downmenu li:nth-of-type(6) {
  -webkit-transform: scale(1.75) translate(5.5rem, -3.5rem);

  transform: scale(1.75) translate(5.5rem, -3.5rem);
}

.downmenu li:nth-of-type(7) {
  -webkit-transform: scale(1.8) translate(6rem, -3.8rem);

  transform: scale(1.8) translate(6rem, -3.8rem);
}

.downmenu li:nth-of-type(8) {
  -webkit-transform: scale(1.85) translate(6.5rem, -4.1rem);

  transform: scale(1.85) translate(6.5rem, -4.1rem);
}

.downmenu li:nth-of-type(9) {
  -webkit-transform: scale(1.9) translate(7rem, -4.4rem);

  transform: scale(1.9) translate(7rem, -4.4rem);
}

.downmenu li:nth-of-type(10) {
  -webkit-transform: scale(1.95) translate(7.5rem, -4.7rem);

  transform: scale(1.95) translate(7.5rem, -4.7rem);
}

.downmenu li:nth-of-type(11) {
  -webkit-transform: scale(2) translate(8rem, -5rem);

  transform: scale(2) translate(8rem, -5rem);
}

.downmenu li:nth-of-type(12) {
  -webkit-transform: scale(2.05) translate(8.5rem, -5.3rem);

  transform: scale(2.05) translate(8.5rem, -5.3rem);
}


.downmenucurr li:nth-of-type(1) {
  -webkit-transition: 0.5s 0s;
  transition: 0.5s 0s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.downmenucurr li:nth-of-type(2) {
  -webkit-transition: 0.5s 0.1s;
  transition: 0.5s 0.1s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.downmenucurr li:nth-of-type(3) {
  -webkit-transition: 0.5s 0.12s;
  transition: 0.5s 0.12s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.downmenucurr li:nth-of-type(4) {
  -webkit-transition: 0.5s 0.15s;

  transition: 0.5s 0.15s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(5) {
  -webkit-transition: 0.5s 0.19s;

  transition: 0.5s 0.19s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(6) {
  -webkit-transition: 0.5s 0.25s;

  transition: 0.5s 0.25s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(7) {
  -webkit-transition: 0.5s 0.32s;

  transition: 0.5s 0.32s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(8) {
  -webkit-transition: 0.5s 0.4s;
  transition: 0.5s 0.4s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.downmenucurr li:nth-of-type(9) {
  -webkit-transition: 0.5s 0.49s;

  transition: 0.5s 0.49s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(10) {
  -webkit-transition: 0.5s 0.59s;

  transition: 0.5s 0.59s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(11) {
  -webkit-transition: 0.5s 0.7s;

  transition: 0.5s 0.7s;
  opacity: 1;

  -webkit-transform: scale(1);

  transform: scale(1);
}

.downmenucurr li:nth-of-type(12) {
  -webkit-transition: 0.5s 0.82s;

  transition: 0.5s 0.82s;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

}

.downmenu li,
.persondownmenu li {
  text-align: left;
  height: 40px;
  font-size: 14px;
  display: block;
  float: none !important
}

.downmenu li a,
.persondownmenu li a {
  color: #fff
}

.piconwoCurr {
  color: #ff881e
}

.topwarp .flex4 {
  text-align: center;
}

.topwarp li:nth-child(1) {
  width: 29.9%
}

.topwarp li:nth-child(2) {
  width: 39.9%
}

.topwarp li:nth-child(3) {
  width: 29%;
}

.logo {
  margin: auto auto;
  width: 136px;
  height: 28px;
}

;

.menuol {
  float: right;
  width: 100%;
  background-color: #9c9b9b;
  height: 30px;
  ;
}

.logo img {
  width: 100%;
  height: 100%;
}

.menuol li {
  float: right;
  padding-right: 10px;
}

.menuol li:first-child {}

.menuol li i {
  font-size: 24px !important;
}


/**bottom**/
.bmenu {
  background-color: #fff;
  color: #fff;
  text-indent: 15px;
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  overflow: hidden;
}

.bmenu a {
  color: #fff;
}

.bmenu dl {
  background-color: #242424;
  border-bottom: solid 1px #686868;
  position: relative;
}

.bmenu dl dt {
  height: 40px;
  line-height: 40px;
  position: relative;
}

.bmenu dl dt span.piconzengjia-01 {
  position: absolute;
  right: 0px;
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.bmenu dl dt span.jia {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  color: #fff;
  display: block;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px !important;
  line-height: 20px !important;
  text-indent: 0;
  text-align: center;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}

.bmenu dl dt span.jiaCurr {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.bmenu dl dt {
  background-color: #242424;
  font-size: 16px;
}

.bmenu dl dd {
  background-color: #4d4d4d;
  border-bottom: solid 1px #242424;
  height: 0;
  transform: translate(110%);
  overflow: hidden;
  opacity: 0;
}

.bmenu dl.toggle dd {
  height: 29px;
  transform: translate(0%);
  opacity: 1;
}

.bmenu dl dd:nth-of-type(1) {
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.bmenu dl dd:nth-of-type(2) {
  -webkit-transition: 0.25s 0.15s;
  transition: 0.25s 0.15s;
}

.bmenu dl dd:nth-of-type(3) {
  -webkit-transition: 0.3s 0.2s;
  transition: 0.3s 0.2s;
}

.bmenu dl dd:nth-of-type(4) {
  -webkit-transition: 0.35s 0.25s;
  transition: 0.35s 0.25s;
}

.bmenu dl dd:nth-of-type(5) {
  -webkit-transition: 0.4s 0.3s;
  transition: 0.4s 0.3s;
}

.bmenu dl dd:nth-of-type(6) {
  -webkit-transition: 0.45s 0.35s;
  transition: 0.45s 0.35s;
}

.bmenu dl dd:nth-of-type(7) {
  -webkit-transition: 0.5s 0.4s;
  transition: 0.5s 0.4s;
}

.bmenu dl dd:nth-of-type(8) {
  -webkit-transition: 0.55s 0.45s;
  transition: 0.55s 0.45s;
}

.bmenu dl dd:nth-of-type(9) {
  -webkit-transition: 0.6s 0.5s;
  transition: 0.6s 0.5s;
}

.bmenu dl.toggle dd:nth-of-type(1) {
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.bmenu dl.toggle dd:nth-of-type(2) {
  -webkit-transition: 0.25s 0.15s;
  transition: 0.25s 0.15s;
}

.bmenu dl.toggle dd:nth-of-type(3) {
  -webkit-transition: 0.3s 0.2s;
  transition: 0.3s 0.2s;
}

.bmenu dl.toggle dd:nth-of-type(4) {
  -webkit-transition: 0.35s 0.25s;
  transition: 0.35s 0.25s;
}

.bmenu dl.toggle dd:nth-of-type(5) {
  -webkit-transition: 0.4s 0.3s;
  transition: 0.4s 0.3s;
}

.bmenu dl.toggle dd:nth-of-type(6) {
  -webkit-transition: 0.45s 0.35s;
  transition: 0.45s 0.35s;
}

.bmenu dl.toggle dd:nth-of-type(7) {
  -webkit-transition: 0.5s 0.4s;
  transition: 0.5s 0.4s;
}

.bmenu dl.toggle dd:nth-of-type(8) {
  -webkit-transition: 0.55s 0.45s;
  transition: 0.55s 0.45s;
}

.bmenu dl.toggle dd:nth-of-type(9) {
  -webkit-transition: 0.6s 0.5s;
  transition: 0.6s 0.5s;
}


/**bottom*/
.footerWarp {
  background-color: #242424;
  font-size: 16px;
}

.footerWarp h5 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  color: #fff;
  text-align: center;
  display: table;
  width: 100%;
  margin-top: 0px;
}

.footerWarp p {
  text-align: center;
  color: #dddddd;
  display: block;
  height: 20px;
  width: 350px;
  margin: 0 auto;
}
.footerWarp .t1{color: #fff;}

.footerWarp .input-normal {
  width: 100%;
}

.footerWarp .input-normal {
  margin: 5px auto;
  display: block;
  clear: both;
}

.footerWarp .input-normal input {
  margin: 0 auto;
  border-radius: 3px;
  border: solid 1px #eee;
  height: 30px;
  line-height: 30px;
  min-width: 270px;
  background-color: #242424;
  font-size: 16px;
  color: #9c9b9b;
  padding: 0 5px;
  margin: 0 auto;
}

.footerWarp .captcha {
  border: solid 1px #eee;
  border-radius: 3px;
  width: 280px !important;
  margin: 0 auto;
  clear: both;
  height: 30px;
  background-color: #fff;
}

.footerWarp .captcha input {
  border: none;
  width: 184px;
  background-color: #242424;
  color: #9c9b9b;
  padding: 0 5px;
  height: 30px;
}

.footerWarp .captcha span {
  background-color: #fff;
  display: inline-block
}

.footerWarp .captcha img {
  width: 81px;
  height: 28px;
}

.emaillabel {
  color: #fff;
  font-size: 14px;
  display: block;
  width: 100%;
}

.emaillabel .piconfont {
  margin-right: 3px;
}

.emaillabel .piconfuxuankuang_xuanzhong {
  color: #ff881e
}

.emaillabel a {
  color: #ff881e;
}

.emialbtn {
  width: 80%;
  background-color: #ff7410;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

/*thrid*/
.blink {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 10px;
}

.blink li {
  float: left;
  width: 24.9%;
}

.blink li a {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.blink li.b1 a {
  background: url(../images/sj_001.png) no-repeat center center;
}

.blink li.b2 a {
  background: url(../images/sj_002.png) no-repeat center center;
}

.blink li.b3 a {
  background: url(../images/sj_003.png) no-repeat center center;
}

.blink li.b4 a {
  background: url(../images/sj_004.png) no-repeat center center;
}

.bline {
  height: 2px;
  width: 100%;
  background-color: #ff881e;
  margin: 10px auto;
}

.btImg ol li {
  float: right;
}

.bthrid {
  display: block;
  width: 100%
}

.bthrid div a {
  display: inline;
}

.bthrid div.fl {
  width: 19.9%;
}

.bthrid div.fl img {
  width: 107px;
  ;
}

.bthrid div.fr {
  width: 70%;
  margin-right: 15px;
}

.bthrid div.fr span {
  float: right;
}

.copytitle {
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.gotop{position: fixed;right: 10px;bottom: 45px; z-index: 9999;}
.gotop span{position: relative;width: 20px;height: 20px;background-color: #fff;border-radius: 20px;display: block;top:20px;left: 5px;z-index: 100;}
.gotop .piconfont{font-size: 30px !important;border-radius: 20px;position: relative;z-index: 200;}