
.order_warp {width: 100%; margin: 0px auto; background: #f2f2f2; }
.mt30 {margin-top:30px;}
.mt15 {margin-top:15px;}
.width50 {width: 49%; }
.mt45 {margin-top:45px;}

.bg_gray {background: #d9d9d9!important;}
.bg_gray h2 {color:#333;}
.bg_gray a {color: #ff6100!important;}
.order_05_bg {background: #efeeee; }
/*num_warp*/
.num_warp { margin: 30px auto;  text-align: center; }


.order_inner_step { display:inline-block;}
.order_inner_step dl { width:86px; text-align: center; cursor: pointer; }
.order_inner_step dl dt {width: 40px; height: 40px; line-height: 40px; border-radius: 50%; border: solid 2px #333333; font-size: 20px;  color: #333; display: inline-block; text-align:center;   }
.order_inner_step dl.curr dt { background: #ff6c00;  color: #fff; border: solid 2px #ff6c00;}
.order_inner_step dl dd { margin-top:10px; font-size:14px;  }
.order_inner_line {width: 50px; height: 2px; display:inline-block; background: #333; vertical-align: top; margin-top:22px;}
.order_inner_line.curr {background: #ff6c00;}
@media (min-width: 360px) and (max-width: 375px) {
    .order_inner_line{width:40px;}
 }

/*order_warp*/


/*one_input*/
.one_warp {background: #fff; margin-bottom: 20px; }
.order_title {height: 45px; line-height: 45px; background: #999; color: #fff;}
.order_title.curr {background: #ff6c00; }
.order_title h2 {font-size: 16px; margin-left: 10px; display: inline-block; }
.order_title a {float: right; padding-right: 10px; text-decoration: underline; color: #fff; font-size: 14px; }
.one_warp form {padding: 10px; color: #999; }
.input_list label {font-size: 16px; color: #333; display: block;  }
.input_list label em {color: #ff0000; font-weight: bold; padding-left: 5px; }
.input_list input {width: 94%; height: 33px; padding:0px 10px; border: solid 1px #e0e0e0; border-radius:5px; font-size: 14px; }
.input_list p {color: #999; padding-top:5px; font-size: 12px; line-height: 18px;}

.input_list1 {margin-top:10px;}
.input_list1 label {font-size: 14px; color: #999; display: block;}
.input_list1 label em {color: #ff0000; font-weight: bold; padding-left: 3px; }
.input_list1 input {width: 94%; height: 33px; padding:0px 10px; border: solid 1px #e0e0e0; border-radius:5px; font-size: 14px; }

.bill_warp {display: inline-block; font-size: 14px; padding-left: 15px; position: relative; }
.bill_warp input {display: inline-block; width: 20px; border: solid 1px #ff6c00; position: absolute; top: -2px;  }
.bill_warp span {color: #ff6c00; padding-left: 22px; }

.one_button {margin-top:30px; text-align: center; }
.one_button button {padding:8px 30px; background: #ff881e; color: #fff; border: none; border-radius: 5px; font-size: 14px;  }
.one_button button:hover {background: #ff6c00; }
/*one_edit*/
.bg_white {background: #fff; color: #000; border-bottom: solid 1px #ddd;}
.bg_white a {color: #ff6c00; }
.one_eidt_main {background: #fff;  padding: 10px;}
.one_eidt_main h3 {font-size: 16px; color: #333; padding-left: 5px; }
.one_con {background: #e6e6e6; border-radius: 5px; padding: 10px 20px; margin-top:10px; color: #666; }
.mt20 {margin-top: 20px; }
.one_con p {line-height: 25px; font-size:14px;}

/*order_view*/
.order_view_warp { margin-top:10px; background: #fff;}

.item_cart_con {padding: 10px;}
.item_cart {height: 30px; }
.item_cart h3 { font-size: 16px; float: left; color:#333; font-weight: normal;  }
.item_cart a { font-size: 14px; float: right; color: #ff6c00;  text-decoration: underline; }
.item_cart a:hover {text-decoration: none; cursor: pointer;}

.shop_list {}
.shop_con {margin:15px auto; border: solid 1px #e0e0e0; border-radius: 8px; padding: 10px; }
.shop_con .shop_con_left {float: left;}
.shop_con .shop_con_right {float: right; font-size:14px;}
.shop_con_left dl {}
.shop_con_left dl dt {float: left;}
.shop_con_left dl dt img {width: 75px; height: 75px; border: solid 1px #e0e0e0;}
.shop_con_left dl dd {padding-left:10px; float: left; margin-top:15px; width:60%; }

.shop_con_left dl dd p.power {font-size: 14px; bold; color: #333;   word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; }
.shop_con_left dl dd p.ship {font-size: 12px; color: #666; }

.shop_con_right {padding-right: 15px; padding-top:15px;}
.shop_con_right p.ship_price {color: #333;}
.shop_con_right p.ship_num {color: #666; padding-top: 5px; text-align: right;}

.setment {border-top: solid 1px #e0e0e0; border-bottom: solid 1px #e0e0e0; padding:10px;}
.setment ul li { height:25px; line-height: 25px; font-size:14px; }
.setment ul li span.title {float: left; text-align:left; color: #666;}
.setment ul li span.price {float: right; text-align:right; }

.setment_z {  padding: 10px; font-size: 14px;}
.setment_z span.title {float: left; text-align:left; color: #666;}
.setment_z span.price {float: right; text-align:right;  font-weight: bold; color:#333; }

.order_change_bg {background: #fff; color: #000; border-bottom: solid 1px #ddd;}

/*three_step*/
.three_step {margin-top:20px; background: #fff; }
.three_title { background: #ff6c00;}
.three_con {padding: 10px;}
.three_title h2 { font-size: 16px; height: 45px; line-height: 45px; margin-left: 10px; display: inline-block; color: #fff; }
.three_title h4 {padding-left: 40px; font-size: 14px; color: #fff; vertical-align:top;margin-top:-20px}
.pay_warp { border: solid 1px #ddd; border-radius: 8px; padding: 20px; text-align: center;}
.pay_warp p {height: 35px;}
.pay_warp p.pay_title {font-size: 18px; font-weight: normal; }
.pay_warp p.pay_tip {font-size: 14px; color: #999; padding-top: 10px; word-break:break-all;}
.pay_warp button {padding:8px 30px; border-radius: 8px; background: #ffc520; border: solid 1px #f3b41d; font-size: 14px; }
.pay_warp button img {width: 80px;}
.pay_warp button:hover {background: #ff6c00;}
@media (min-width: 768px)  {
    .three_title h4 {padding-left: 40px; font-size: 14px; color: #fff; vertical-align:top;margin-top:-20px; margin-top: 20px; float: right; padding-right: 10px;}
 }
/*order_right*/
.order_right_title {height: 65px; line-height: 65px; border-bottom: solid 1px #ddd;}
.order_right_title h2 {font-size: 24px; float: left; padding-left: 10px;}
.order_right_title span {float: right; padding-right: 10px; font-size: 16px; color: #999;}

.order_right_con {padding: 20px;}
.order_right_con ul li {border-bottom:solid 1px #ddd; padding: 10px 0px;}
.order_right_con ul li p {line-height: 25px;}
.order_right_con ul li p span {display:inline-block; }
.order_right_con ul li p span.a1 {float: left; font-size: 16px; font-weight: bold; color: #333;  width:245px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; }
.order_right_con ul li p span.a2 {float: right; font-size: 14px; color: #333;}
.order_right_con ul li p span.a3 {float: left; font-size: 14px; color: #666;}
.order_right_con ul li p span.a4 {float: right; font-size: 14px; color: #666;}

.order_right_price {border-bottom:solid 1px #ddd; padding: 10px 0px;}
.order_right_price p {line-height: 25px; display:block;}
.order_right_price p span {display:inline-block; }
.order_right_price p span.a1 {float: left; font-size: 14px; color: #666;}
.order_right_price p span.a2 {float: right; font-size: 14px; color: #333;}

.order_total {padding-top:20px;}
.order_total span {display:inline-block;}
.order_total span.a1 {float: left; font-size: 14px; color: #666;}
.order_total span.a2 {float: right; font-size: 18px; color: #333; font-weight: bold;}
/*shop_car*/
.shop_car { margin: 10px auto; background: #fff; }
.car_title {height: 45px; line-height: 45px; border-bottom: solid 1px #ddd;}
.car_title h2 {float: left; padding-left: 10px; font-size: 16px;}
.car_title span {float: right; padding-right: 10px; font-size:14px; color: #999;}

.car_list {padding: 10px;}
.car_list_table {}
.car_list_table tr{}
.car_table tr:hover {background: #f6f6f6;}
.car_table tr td{text-align: center; padding: 20px 2px;  border-bottom: solid 1px #ddd; }
.power_title { font-size: 14px;  width:153px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis;}
.power_price {text-align:left; font-size:14px;}
.font30 {font-size: 22px; color: #333;}
.power_pic {width: 70px; height: 70px; text-align: center; border:solid 1px #eee; display:table; }
.power_pic span{  display:table-cell;  vertical-align:middle; }  
.power_pic img {vertical-align: middle;
    max-width: 70px;
    max-height: 70px;
    _width: expression(document.body.clientWidth > 70 ? "70px" : "auto");
    _height: expression(this.scrollHeight > 70 ? "70px" : "auto");}

.power_warp {width: 70px; height: 25px; border: solid 1px #ddd; border-radius: 5px; position: relative;}
.power_warp input {width:70px; height: 25px; line-height: 25px; background-color: #fff; border: none; text-align: center; font-size: 14px; }
.power_warp span {width: 20px; height: 25px; line-height: 25px; display: inline-block; background: #ff881e; cursor: pointer; color: #fff;  }
.power_warp span.jian {position: absolute; left: -1px; top: -1px; border-top-left-radius:5px; border-bottom-left-radius:5px;}
.power_warp span.jia {position: absolute; right: -1px; top: -1px; border-top-right-radius:5px; border-bottom-right-radius:5px;}

.power_total {padding: 10px 20px 20px 0px; text-align: right; font-size: 14px;}
.power_total span {font-size: 16px;}
.power_button {padding: 10px 50px 50px 0px; text-align: right;}
.power_button button {padding: 8px 30px; border: none; background: #ff881e; color: #fff; font-size: 16px; border-radius: 8px; }
.power_button button:hover {background: #ff6c00;}

/*all_order_warp*/
.all_order_title { margin: 20px auto; text-align: center;}
.all_order_title a {padding: 0px 2px; border-left:solid 1px #aeaeae; font-size: 14px; color: #666; }
.all_order_title a:first-child {border-left: none;}
.all_order_title a:hover {color:#ff6c00;}
.all_order_title a.curr {color: #ff6c00;}

.order_modular { margin:20px auto; background: #fff;}
.modular_title {height: 45px; line-height: 45px; background: #666; }
.modular_title h2 {font-size: 16px; color: #fff; padding-left: 10px; }
.modular_box {padding: 10px;}
.modular_pic {width: 75px; height: 75px; text-align: center; border:solid 1px #ddd; display:table; }
.modular_pic span{  display:table-cell;  vertical-align:middle; }  
.modular_pic img {vertical-align: middle;
    max-width: 75px;
    max-height: 75px;
    _width: expression(document.body.clientWidth > 75 ? "75px" : "auto");
    _height: expression(this.scrollHeight > 75 ? "75px" : "auto");}
.modular_table {}
.modular_table tr:hover {background: #f6f6f6;}
.modular_table tr td {border-bottom: solid 1px #ddd; padding:10px 0px;}
.modular_table span.price {font-size: 14px; }
.modular_box .pro_title { width:200px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; font-size: 14px; color: #666; padding-left:5px; }
.modular_box .pro_num { color: #999; font-size: 14px; padding-left:5px;}
.modular_info { padding:10px 0px; }
.modular_info dl {}
.modular_info dl dt {float: left;}
.modular_info dl dt p {line-height: 25px; color: #333; font-size:14px;}
.modular_info dl dd {float: right; text-align: right;}
.modular_info dl dd p { }
.modular_info dl dd p.view { margin-bottom:10px; }
.modular_info dl dd p.view a {font-size: 14px; color: #666; text-decoration: underline;}
.modular_info dl dd p.view a:hover {text-decoration: none; color: #ff881e; }

.modular_info dl dd p.modular_but button {padding:3px 10px; border: none; border-radius: 5px; background:#ff881e; color: #fff; font-size: 12px; text-transform:uppercase; }
.modular_info dl dd p.modular_but button:hover {background: #ff6c00; }
.modular_info dl dd p.modular_but button.noclick {background:#999; cursor:unset;}
.modular_info dl dd p.modular_font {font-size:14px; color: #999;}

/*order_06*/
.view_warp { margin:20px auto;  background: #fff; }
.unpaid_title {height: 45px; line-height: 45px; }
.unpaid_title h2 {float: left; padding-left: 10px; font-size:16px;}
.unpaid_title a {float: right; padding-right:10px; text-decoration: underline; color: #ff6c00; font-size:14px;}
.unpaid_title a:hover {text-decoration: none; }
.order_info {height: 45px; line-height: 45px; background: #f2f2f2;  padding: 0px 10px; font-size:14px;}
.order_info span {display: inline-block; }
.item_in {height: 45px; line-height: 45px; padding: 0px 10px; font-size: 16px; border-left: solid 1px #f2f2f2; border-right: solid 1px #f2f2f2;}

.item_list {padding: 10px;  border: solid 1px #f2f2f2;}
.item_list .item_01 {padding: 10px; border: solid 1px #e0e0e0; margin-bottom: 15px; border-radius: 5px;}
.item_list .item_01:hover {background: #f5f5f5;}
.item_list .item_01 .item_01_left {float: left;}
.item_list .item_01 .item_01_left dl {}
.item_list .item_01 .item_01_left dl dt{float: left;}

.item_01_pic {width: 75px; height: 75px; text-align: center; border:solid 1px #ddd; display:table; }
.item_01_pic span{  display:table-cell;  vertical-align:middle; }  
.item_01_pic img {vertical-align: middle; max-width: 75px; max-height: 75px; _width: expression(document.body.clientWidth > 75 ? "75px" : "auto");  _height: expression(this.scrollHeight > 75 ? "75px" : "auto");}
.item_list .item_01 .item_01_left dl dd{float: left; padding-left: 5px; margin-top:14px;}
.item_list .item_01 .item_01_left dl dd p {line-height: 25px;}
.item_01_left .item_title { width:175px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; font-size: 14px;  color: #666;}
.item_01_left .item_ship {color: #999; font-size: 14px; width:175px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; }



.item_list .item_01 .item_01_right {float: right;  margin-top:15px; text-align: right;}
.item_list .item_01 .item_01_right p {line-height: 25px; font-size: 14px;}
.item_list .item_01 .item_01_right p.num {color: #666;}
.item_list .item_01 .item_01_right p.price {font-size: 14px;}
.item_list .item_01 .item_01_right p.price span {padding-left: 3px;}

.item_02 {margin: 10px auto; font-size: 14px; color: #333;}
.item_02 dl { }
.item_02 dl dt {float: left; padding-left: 10px; }
.item_02 dl dd {float: right; padding-right: 10px;}
.item_02 dl dd span {padding-left:3px;}
.item_total {border-top:solid 1px #f2f2f2; border-bottom:solid 1px #f2f2f2; }
.item_total dl { padding: 10px 10px;  color: #333;}
.item_total dl dt {float: left; font-size: 14px; }
.item_total dl dd {float: right; font-size: 16px;}
.item_total dl dd span {padding-left: 3px;}

.item_info { padding:10px;}
.item_info h2 {font-size: 16px; font-weight: normal;} 
.item_info .item_info_box {margin-top:10px; padding: 10px; background: #f2f2f2; border-radius: 5px; color: #666; font-size: 14px; }
.item_info .item_info_box p {line-height: 25px; font-size:14px;}

.item_button {padding: 10px; text-align:center; }
.pb30 {padding-bottom:30px;}
.item_button a {  padding: 8px 30px; border: 0px; background: #ff881e; color: #fff; font-size: 14px; border-radius: 5px; text-transform: uppercase; }
.item_button a:hover {background: #ff6c00;}
.track_info { line-height: 25px;}
.noclick a {background: #999; cursor: unset;}
.noclick a:hover {background: #999; cursor: unset;}
.item_last {font-size: 16px; color: #999;}

/*comment_warp*/
.comment_warp { padding: 10px; margin: 20px auto; background: #fff;}

.commnet_list {border: solid 1px #f2f2f2; padding: 10px; border-radius: 5px;}
.commnet_list .comment_list_left {float: left; }
.commnet_list .comment_list_right {float: right; font-size: 14px; padding-top:26px; }
.comment_list_left dl {}
.comment_list_left dl dt {float: left; }
.comment_list_left dl dd {float: left; padding-left: 5px; }
.comment_pic {width: 75px; height: 75px; text-align: center; border:solid 1px #ddd; display:table; }
.comment_pic span{  display:table-cell;  vertical-align:middle; }  
.comment_pic img {vertical-align: middle; max-width: 75px; max-height: 75px; _width: expression(document.body.clientWidth > 75 ? "75px" : "auto");  _height: expression(this.scrollHeight > 75 ? "75px" : "auto");}
.comment_list_left dl dd.comment_font { width:175px; word-break:keep-all;  white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; font-size: 14px; color: #333; margin-top:25px;}

.comment_list_right { }
.comment_list_right span {padding-left: 3px;}
.comment_xx_warp {margin-top:30px; text-align: center;}
.comment_xx_warp .comment_xx {display:inline-block; }
.comment_xx_warp .comment_xx ul li {width: 42px; height: 39px; background: url(../images/x_a.jpg) no-repeat; background-size:35px; float: left; margin: 0px 2px; cursor: pointer;}
.comment_xx_warp .comment_xx ul li:hover {background: url(../images/x_b.jpg) no-repeat;  background-size:35px;}
.comment_xx_warp .comment_xx ul li.curr {background: url(../images/x_b.jpg) no-repeat;  background-size:35px;}
.comment_text {text-align: center; margin-top:15px; font-size: 14px; color: #999; }
.comment_text em {color: #ff0000; }
.comment_input {margin-top:10px;}
.comment_input label {font-size: 14px; color: #666; display: block;}
.comment_input label em {color: #ff0000;}
.comment_input input.input_100 {width: 94%; border:solid 1px #ddd; height: 30px; line-height: 30px; padding:0px 5px; border-radius: 5px; margin-top:5px; font-size:14px;}
.comment_input textarea {width: 94%; border: solid 1px #ddd; padding:5px; border-radius: 5px; margin-top:5px; font-size:14px;}

.upload_img {margin-top:10px; cursor: pointer;}
.upload_img img {width: 60px;}
.comment_button {margin:30px 0px; text-align:center;}
.comment_button a {padding: 8px 30px; font-size: 14px; margin:0px 10px; border-radius: 5px;}
.comment_button a.cancel { border: solid 1px #ff881e; color: #ff881c; }
.comment_button a.submit { border: solid 1px #ff881e; background: #ff881c; color: #fff; }
.comment_button a:hover.submit {background: #ff6c00; border:solid 1px #ff6c00;}


.pay_suc { margin: 30px auto; background: #fff; padding:20px; text-align: center; }
.pay_con {margin-top:50px;   } 
.pay_con h2 {font-size:25px; height: 70px;  color:#333; padding-top:20px; font-weight: normal;}
.pay_con p { margin:0px auto; font-size:14px; color: #666; line-height: 30px;}
.pay_info {width:300px; margin: 0px auto; margin-top:30px; margin-bottom:50px;}
.pay_info dl {height: 30px; line-height: 30px; color: #666;}
.pay_info dl dt {width:49%; float: left; text-align: left;}
.pay_info dl dd {width: 49%; float: right; text-align: right;}

